<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.xy.viewdemo">

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.INTERNET"/>

  <application
    android:allowBackup="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.ViewDemo"
    tools:targetApi="31">
    <activity
      android:name=".activities.PieActivity"
      android:exported="false"
      android:theme="@style/Theme.ViewDemo" />
    <activity
      android:name=".activities.MainActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".activities.DashActivity"
      android:exported="false"/>
    <activity
      android:name=".activities.TextActivity"
      android:exported="false"/>
    <activity
      android:name=".activities.RoundedImageActivity"
      android:exported="false"/>
    <activity
      android:name=".activities.EditTextActivity"
      android:exported="false"/>
    <activity
      android:name=".activities.CameraActivity"
      android:exported="false"/>
    <activity
      android:name=".activities.MeshActivity"
      android:exported="false"/>
    <activity
      android:name=".activities.TagLayoutActivity"
      android:exported="false"/>
    <activity
      android:name=".activities.ScaleActivity"
      android:exported="false"/>
    <activity
      android:name=".activities.MultiplePointerActivity"
      android:exported="false"/>
    <activity
      android:name=".activities.AidlActivity"
      android:exported="false"/>
    <activity
      android:name=".activities.ThreadActivity"
      android:exported="false"/>
    <activity
      android:name=".activities.ThreadJavaActivity"
      android:exported="false"/>
    <activity
      android:name=".activities.ConstraintActivity"
      android:exported="false"/>
    <activity
      android:name=".activities.MotionActivity"
      android:exported="false"/>
    <activity
      android:name=".activities.Aidl_1_Activity"
      android:process=":client1"
      android:exported="false"/>
    <activity
      android:name=".activities.Aidl_2_Activity"
      android:process=":client2"
      android:exported="false"/>

    <service android:name=".services.AIDLClient1" android:process=":client1"/>
    <service android:name=".services.AIDLClient2" android:process=":client2"/>
    <service android:name=".services.AIDLServer"
      android:enabled="true"
      android:exported="true">
      <intent-filter>
        <action android:name="com.xy.viewdemo.aidl.action" />
      </intent-filter>
    </service>
  </application>

</manifest>